/* CardAnimeTop.css */

.TopCard {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-decoration: none;
    color: inherit;
    display: block;
}

.cardContent {
    display: flex;
    align-items: center;
    background-color: #47057d75;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.thumbnailContainer {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }

.thumbnail {
    width: 100px; /* Adjust the width as needed */
    height: 150px; /* Set a fixed height for the thumbnail */
    object-fit: cover; /* Ensure the image covers the entire thumbnail */
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    margin-right: 10px;
    margin-bottom: -20;
}


.text {
    flex: 1;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #f55b23;
}

.sinopsis {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: justify;
    margin-right: 10px;
    color: #e2e2e2;
}

.cardLink{
    text-decoration: none;
}